<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} — {% endif %} alexguirre</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/js/theming.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% include 'header.html' %}
<main>
    {% block main %}{% endblock %}
</main>
</body>
</html>
